<div class="top-bar">
    <h2 id="editor-title"></h2>
</div>
<div class="view-content">
    <form class="contract-editor-form" id="contractEditorForm">
        <div class="form-group">
            <label for="contractName">Nombre del Contrato:</label>
            <input type="text" id="contractName" name="contractName">
        </div>
        <div class="form-actions">
            <button type="button" class="secondary" id="cancelButton">Cancelar</button>
            <button type="submit" class="primary" id="submitButton"></button>
        </div>
    </form>
</div>